.hero {
  position: relative;

  &::before {
    background-image: url('/img/common/sparkes.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    position: absolute;
    top: -5%;
    left: 50px;
    width: 35px;
    height: 35px;
    z-index: 1;

    @media (max-width: 768px) {
      right: 50px;
      left: auto;
    }
  }

  &::after {
    background-image: url('/img/hero/hero-gradient-2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    position: absolute;
    bottom: -25%;
    right: 0;
    width: 100%;
    height: 530px;
    z-index: -1;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 600px;
      height: 100%;
      top: 0;
      bottom: -8%;
      background-image: url('/img/hero/hero-gradient-2x.png');
    }

    @media (min-width: 1280px) {
      top: -15%;
      bottom: auto;
      width: 740px;
      height: 1000px;
    }
  }
}