$black: #090e13;
$white: #fff;
$gray: #a6aaad;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #f8f9f9;
  border-bottom: 1px solid rgba(0,0,0, 0.05);
  
  &-inner {
    height: 70px;
    display: flex;
    align-items: center;
  }

  &-nav {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
  }

  &-li {
    height: 100%;
    display: flex;
    margin-right: 35px;
    align-items: center;
  }

  &-tabs {
    display: flex;
    padding: 0;
    margin-left: 65px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    align-items: center;
  }

  &-tab {
    color: $gray;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;

    &:hover {
      color: $black;
    }

    &-active {
      color: $black;
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 2px solid $black;
    }
  }

  &-links {
    display: flex;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
  }

  &-link {
    color: $gray;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 14px;
    padding: 12px 16px;
    cursor: pointer;
    transition: all .5s ease;

    svg {
      margin-left: 10px;

      path {
        transition: all .5s ease;
      }
    }

    &:hover {
      color: $black;
      background: #ECEDEE;

      svg path {
        fill: $black;
      }
    }
  }

  &-buy {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: $white;
    padding: 12px 20px;
    background: $black;
    border-radius: 16px;
    transition: all .5s ease;

    &:hover {
      background: #35393D;
    }
  }
}
