$black: rgb(9 14 19);
$white: rgb(255 255 255);
$gray: rgb(110 114 117);

.footer {
  margin: 80px 1rem 48px;

  &-copyright {
    color: $gray;
    font-weight: 400;
    white-space: pre-line;
    text-align: center;
  }
}

.madeIn {
  display: none;

  @media (min-width: 768px) {
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    padding: 17px 18px 13px 54px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    background: rgb(255 255 255 / 60%) no-repeat;
    border-radius: 20px 0 0;
    backdrop-filter: blur(50px);
  }

  &::after {
    position: absolute;
    left: 20px;
    width: 24px;
    height: 24px;
    background-image: url("/svg/swiss.svg");
    content: "";
  }
}
