.block {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 25px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: zd-move 5s;
  z-index: 10;

  @media (min-width: 768px) {
    bottom: 72px;
  }

  @keyframes zd-move {
    0% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
  }

}
