@use "../../../styles/function" as *;
@use "../../../styles/mixins";

.clear {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 2;
  width: 22px;
  height: 22px;
  background-image: url("/svg/delete.svg");
}

.form {
  width: 100%;
  padding: 18px 16px;

  @include mixins.respond-to-medium {
    width: 680px;
    padding: 40px calc-clamp(1rem, 2.5rem);

    @supports not (font-size: clamp(1px, 1vw, 2px)) {
      padding: 40px;
    }
  }

  legend {
    margin-bottom: calc-clamp(1.625rem, 2.5rem);
    color: rgb(104 104 104);
    font-size: calc-clamp(0.9375rem, 1.125rem);
    line-height: 1.33;

    @supports not (font-size: clamp(1px, 1vw, 2px)) {
      font-size: 0.9375rem;
    }

    @include mixins.respond-to-medium {
      line-height: 1.2;

      @supports not (font-size: clamp(1px, 1vw, 2px)) {
        font-size: 1.125rem;
      }
    }
  }

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: calc-clamp(1.25rem, 1.625rem);

    @supports not (font-size: clamp(1px, 1vw, 2px)) {
      font-size: 1.125rem;
    }

    @include mixins.respond-to-medium {
      width: calc(50% - 10px);

      @supports not (font-size: clamp(1px, 1vw, 2px)) {
        font-size: 1.625rem;
      }
    }

    &.full {
      width: 100%;
    }

    .label {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: calc-clamp(0.8125rem, 1.125rem);
      line-height: 1;

      @supports not (font-size: clamp(1px, 1vw, 2px)) {
        font-size: 0.8125rem;
      }

      @include mixins.respond-to-medium {
        margin-bottom: 12px;

        @supports not (font-size: clamp(1px, 1vw, 2px)) {
          font-size: 1.125rem;
        }
      }
    }

    .clear {
      display: none;
    }

    .error {
      position: absolute;
      bottom: -14px;
      font-size: 12px;
      line-height: 1;

      @include mixins.respond-to-medium {
        bottom: -18px;
        color: rgb(216 0 39);
        font-size: 16px;
      }
    }

    &:focus-within {
      .clear {
        display: block;
      }
    }
  }

  fieldset {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin-top: 26px;

    @include mixins.respond-to-medium {
      margin-top: 40px;
    }

    textarea {
      height: 200px;
      padding: 10px 12px;

      @include mixins.respond-to-medium {
        height: 218px;
        padding: 8px 16px;
      }

      &:focus {
        border: 1px solid rgb(134 134 134);
        outline: 5px solid rgb(238 238 238);
      }

      &:valid ~ .error {
        opacity: 0;
      }

      &:invalid {
        border: 1px dashed rgb(216 0 39);
      }
    }

    .input {
      box-sizing: border-box;
      width: 100%;
      color: rgb(0 0 0);
      font-weight: normal;
      font-size: 15px;
      line-height: 30px;
      background: rgb(255 255 255);
      border: 1px solid rgb(196 196 196);
      border-radius: 12px;

      @include mixins.respond-to-medium {
        font-size: 18px;
      }

      &:invalid {
        border: 1px dashed rgb(216 0 39);
      }

      &:valid ~ .error {
        opacity: 0;
      }

      &:focus-within {
        border: 1px solid rgb(134 134 134);
        outline: 5px solid rgb(238 238 238);
        box-shadow: 0 0 3px rgb(221 221 221);
      }
    }

    input {
      height: 42px;
      padding-right: 40px;
      text-indent: 16px;

      @include mixins.respond-to-medium {
        height: 46px;
      }
    }
  }
}

.submit {
  width: 100%;
  margin-bottom: 16px;
  padding: 12px 34px;
  color: rgb(255 255 255);
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  background: rgb(0 0 0);
  border-radius: 100px;

  @include mixins.respond-to-medium {
    width: auto;
    margin-right: 16px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.1;
  }

  &.loading {
    position: relative;
    color: rgb(0 0 0);

    @media screen and (prefers-reduced-motion: reduce) {
      &::after {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        z-index: 522;
        width: 20px;
        height: 20px;
        background: url("/img/business/spinner.png");
        background-size: 20px;
        animation: none;
        content: "";
      }
    }

    &::after {
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      z-index: 522;
      width: 20px;
      height: 20px;
      background: url("/img/business/spinner.png");
      background-size: 20px;
      animation: rotate 1s linear infinite;
      content: "";
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.success {
  color: rgb(26 206 128);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.failure {
  color: rgb(216 0 39);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
