@use "../../../../styles/mixins";
@use "../../../../styles/function" as *;

.page {
  display: grid;
  grid-template-rows: auto min-content;
  min-height: 100vh;
  padding: calc-clamp(5.5625rem, 9.375rem) max(1rem, calc(50% - 500px)) 0;

  h1 {
    font-weight: 500;
    font-size: calc-clamp(2.25rem, 3.75rem);
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;

    @include mixins.respond-to-medium {
      line-height: 0.9;
      letter-spacing: 0;
    }
  }
}

.label {
  margin-bottom: calc-clamp(1.25rem, 1.5rem);
  text-align: center;

  @include mixins.respond-to-medium {
    text-align: start;
  }
}

.reset {
  position: absolute;
  top: calc(50% - 12px);
  right: 14px;
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("/svg/help/clear.svg");
}

.search {
  position: relative;
  max-width: 630px;
  margin: calc-clamp(2.625rem, 3.75rem) auto calc-clamp(1.25rem, 2.25rem);

  &:focus,
  &:focus-visible,
  &:focus-within {
    .reset,
    .list {
      display: block;
    }
  }

  input {
    width: 100%;
    padding: 9px 0 9px 44px;
    font-size: 17px;
    line-height: 1.1;
    background: rgb(236 237 238) url("/svg/help/search.svg") no-repeat 20px center;
    border-radius: 30px;

    @include mixins.respond-to-medium {
      padding: 15px 0 15px 48px;
      font-size: 20px;
    }

    &::placeholder {
      color: rgb(169 169 169);
    }
  }
}

.articles {
  display: grid;
  gap: calc-clamp(1rem, 1.25rem);
}

.article {
  padding: calc-clamp(1.25rem, 1.875rem);
  background: rgb(255 255 255);
  border-radius: calc-clamp(1.5rem, 2rem);
  box-shadow: 0 8px 18px rgb(0 0 0 / 6%);

  h2 {
    margin-bottom: calc-clamp(0.75rem, 0.9375rem);
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }

  div {
    color: rgb(104 104 104);
    font-size: 16px;
    line-height: 1.3;

    @include mixins.respond-to-medium {
      font-size: 17px;
    }
  }

  a {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
