$white: #fff;
$black: #141D26;
$gray: #ecedee;

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 30px;
  border-radius: 20px;
  margin-right: 16px;
  transition: all .3s ease-in-out;

  svg {
    margin-right: 12px;
  }

  &-container {
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;

    .button {
      padding: 16px 16px 16px 10px;
      display: flex;
      align-items: center;
      padding-left: 32px;
      padding-right: 30px;
    }
  }
  
  &-primary {
    color: $white;
    background: $black;

    &:hover {
      background: #06090D;
    }
  }

  &-secondary {
    color: $black;
    background: $gray;
    margin-right: 0;

    &:hover {
      background: #DEE0E1;
    }
  }
}
