@use "./public/styles/colors" as *;

.hero {
  position: relative;
  min-height: 690px;
  max-width: 100vh;
  overflow: hidden;
  background-color: $color-header-bg-dark;
  width: 100%;
  color: $color-header-text-dark;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: max(1rem, calc(50% - 620px));

  @media (min-width: 768px) {
    min-height: 870px;
    min-width: 100%;
  }
}

.title {
  box-sizing: border-box;
  z-index: 3;
  padding-top: 366px;
  text-align: center;
  white-space: break-spaces;

  @media (min-width: 768px) {
    padding-top: 220px;
    text-align: start;
  }

  span {
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    padding: 4px 15px;
    font-size: 15px;
    line-height: 22px;
    display: inline-block;
    letter-spacing: 0;

    @media (min-width: 768px) {
      font-size: 20px;
      padding: 9px 20px;
    }
  }

  h1 {
    font-size: 46px;
    font-weight: 500;
    line-height: 0.95;
    margin: 16px 16px 24px;
    text-align: center;
    letter-spacing: 0;

    @media (min-width: 768px) {
      margin: 24px 0;
      font-size: 80px;
      font-weight: 400;
      max-width: 620px;
      text-align: start;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-inline: 1rem;
    letter-spacing: 0;

    @media (min-width: 768px) {
      max-width: 420px;
      font-size: 24px;
      margin-inline: 0;
      text-align: start;
    }
  }
}

.image {
  position: absolute;
  height: 483px;

  @media (min-width: 768px) {
    position: relative;
    height: auto;
  }

  img {
    position: relative;
    z-index: 1;
    height: 539px;
    width: 466px;
    min-width: fit-content;
    overflow: hidden;
    margin-left: 39px;
    top: -56px;
    aspect-ratio: 466 / 539;

    @media (min-width: 768px) {
      width: auto;
      height: auto;
      top: auto;
      overflow: visible;
      margin-left: 93px;
    }
  }

  &::before {
    filter: blur(75px);
    content: '';
    position: absolute;
    width: 83.6%;
    height: 55%;
    top: 14%;
    left: 5.3%;

    background-image: url('/svg/business-hero-gradient.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      width: 105.2%;
      height: 80.7%;
      top: 5.75%;
      left: -20.3%;
      background-size: auto;
      filter: blur(100px);
    }
  }

  &::after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 78.35%, #000000 100%);
    z-index: 2;

    @media (min-width: 768px) {
      content: none;
    }
  }
}

