@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('SF Pro Display'), url(../fonts/sf-pro-display-cufonfonts/sf-pro-display-regular.otf) format('otf');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('SF Pro Display'), url(../fonts/sf-pro-display-cufonfonts/sf-pro-display-medium.otf) format('otf');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('SF Pro Display'), url(../fonts/sf-pro-display-cufonfonts/sf-pro-display-semibolditalic.otf) format('otf');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('SF Pro Display'), url(../fonts/sf-pro-display-cufonfonts/sf-pro-display-bold.otf) format('otf');
}
