.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: rgb(0 0 0 / 70%);
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  max-width: 100%;
  height: auto;
  min-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(248 249 249);

  @media (min-width: 768px) {
    bottom: auto;
    width: fit-content;
    max-width: min(1400px, 100% - 2rem);
    max-height: calc(100vh - 76px);
    margin-top: 60px;
    border-radius: 20px;
    outline: 0;
    margin-inline: auto;

    @media (min-height: 900px) {
      overflow: hidden;
    }
  }
}

.modal {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  height: auto;
  background: rgb(248 249 249);

  @media (min-width: 768px) {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1060;
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent;
  border: none;

  @media (min-width: 768px) {
    top: 23px;
    right: 25px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:focus:not(:focus-visible) {
    outline-color: rgb(248 249 249);
  }
}

.title {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 24px;
  color: rgb(0 0 0);
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 20px 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    text-align: start;
    border-bottom: 0.5px solid rgb(202 202 202);
  }
}
