@use "../../../styles/colors";
@use "../../../styles/mixins";
@use "sass:color";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(40px);
}

.dark {
  color: colors.$header-text-dark;
  background: rgb(0 0 0 / 50%);
}

.light {
  color: colors.$header-text-light;
  background: rgb(248 249 249 / 70%);

  @media (min-width: 768px) {
    background: rgb(255 255 255 / 20%);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 2rem);
  height: 47px;
  padding-left: max(1rem, calc(50% - 620px));

  @media (min-width: 768px) {
    justify-content: start;
    width: 100%;
    height: 60px;
  }
}

.menu {
  display: flex;

  @media (min-width: 768px) {
    height: 100%;
  }

  label {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }
  }

  label > span,
  label > span::before,
  label > span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: colors.$header-text-light;

    @include mixins.motion {
      transition: 0.25s;
    }

    .dark & {
      background-color: colors.$header-text-dark;
    }
  }

  ul {
    position: fixed;
    top: 0;
    right: -100%;
    display: block;
    width: 10rem;
    height: 100vh;
    margin: 0;
    padding: 3rem 0;
    list-style: none;
    background-color: colors.$header-bg-light;
    box-shadow: 1px 0 6px rgb(9 14 19 / 20%);
    visibility: hidden;

    @include mixins.motion {
      transition: 0.25s;
    }

    .dark & {
      background-color: colors.$header-bg-dark;
      box-shadow: 1px 0 6px rgb(255 255 255 / 20%);

      @media (min-width: 768px) {
        background: transparent;
        box-shadow: none;
      }
    }

    @media (min-width: 768px) {
      position: relative;
      right: auto;
      display: flex;
      flex-direction: row;
      height: 100%;
      padding: 0 50px;
      background: transparent;
      box-shadow: none;
      visibility: visible;
      transition-duration: unset;
    }
  }

  li {
    position: relative;
    display: flex;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
    line-height: 1;
    letter-spacing: unset;
    text-decoration: none;
    opacity: 0.5;
    margin-inline: 16px 20px;
    padding-block: 16px;

    @include mixins.motion {
      transition: 0.25s;
    }

    @media (min-width: 768px) {
      align-items: center;
      height: 100%;
    }

    &.active {
      opacity: 1;

      &::before {
        position: absolute;
        right: -6px;
        bottom: -1px;
        left: -6px;
        height: 2px;
        background: colors.$header-text-light;
        content: "";

        .dark & {
          background: colors.$header-text-dark;
        }
      }
    }
  }

  .toggle {
    opacity: 0;

    @media (min-width: 768px) {
      display: none;
    }

    &:checked {
      ~ label > span {
        transform: rotate(45deg);

        &::before {
          top: 0;
          transform: rotate(0);
        }

        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }

      ~ ul {
        right: 0;
        visibility: visible;
      }
    }
  }
}

.logo {
  margin-top: 3px;

  svg {
    fill: rgb(9 14 19);
  }

  .dark & svg {
    fill: rgb(255 255 255);
  }
}

.buy {
  margin-right: max(1rem, calc(50% - 620px));
  margin-left: 16px;
  backdrop-filter: blur(30px);
}
