@use "../styles/mixins";
@use "../styles/function" as *;

.layout {
  display: grid;
  grid-template-rows: auto min-content;
  min-height: 100vh;
}

.main {
  margin: calc-clamp(5rem, 12.5rem) 2rem 0;
  text-align: center;

  @supports not (font-size: clamp(1px, 1vw, 2px)) {
    margin: 5rem 2rem 0;

    @include mixins.respond-to-medium {
      margin: 5rem 12.5rem 0;
    }
  }
}

.code {
  margin-bottom: 40px;
  color: rgb(0 0 0 / 6%);
  font-weight: 700;
  font-size: calc-clamp(7.8125rem, 15.625rem);
  line-height: 1.1;

  @supports not (font-size: clamp(1px, 1vw, 2px)) {
    font-size: 7.8125rem;

    @include mixins.respond-to-medium {
      font-size: 15.625rem;
    }
  }
}

.title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.02em;

  @include mixins.respond-to-medium {
    letter-spacing: normal;
  }
}

.text {
  max-width: 305px;
  margin: 0 auto 60px;
  color: rgb(104 104 104);
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.02em;

  @include mixins.respond-to-medium {
    max-width: 454px;
    letter-spacing: normal;
  }
}

.button {
  padding: 12px 34px;
  color: rgb(255 255 255);
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  background: rgb(0 0 0);
  border-radius: 100px;
}

.email {
  text-decoration: underline;
  text-underline-offset: 4px;
}
