.wallet {
  background-image: url('/img/wallet/wallet-1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 674px;

  @media (min-width: 480px) {
    height: 340px;
    background-position: initial;
  }

  @media (min-width: 768px) {
    background-image:
      -webkit-image-set(
        url('/img/wallet/wallet-desktop@2x.png') 2x,
        url('/img/wallet/wallet-desktop@1x.png') 1x
      );
    background-image:
      image-set(
        url('/img/wallet/wallet-desktop@2x.avif') type('image/avif') 2x,
        url('/img/wallet/wallet-desktop@1x.avif') type('image/avif') 1x,
        url('/img/wallet/wallet-desktop@2x.webp') type('image/webp') 2x,
        url('/img/wallet/wallet-desktop@1x.webp') type('image/webp') 1x,
        url('/img/wallet/wallet-desktop@2x.png') 2x,
        url('/img/wallet/wallet-desktop@1x.png') 1x
      );
    background-size: contain;
  }

  @media (min-width: 1024px) {
    background-size: contain;
    height: 500px;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
  }

  @media (min-width: 1280px) {
    height: 570px;
    background-size: 100%;
  }

  @media (min-width: 1400px) {
    background-size: contain;
    background-position: center;
  }
}
