@use "../../../styles/function" as *;

.section {
  width: 100%;
  padding: calc-clamp(5rem, 9.375rem) 0;
  overflow: hidden;
  background: rgb(0 0 0);
}

.affiliate {
  position: relative;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  width: calc(100% - 2rem);
  row-gap: 60px;
  margin: 0 max(1rem, calc(50% - 620px));

  @media (min-width: 768px) {
    flex-direction: row;
    grid-template-columns: 1fr 275px;
    justify-items: start;
    max-width: 1240px;
  }

  &::before {
    position: absolute;
    top: 32px;
    left: calc(50% - 216px);
    width: 432px;
    background: radial-gradient(50% 50% at 50% 50%, rgb(255 184 118) 0%, rgb(255 184 118 / 0%) 100%);
    opacity: 0.3;
    content: "";
    aspect-ratio: 1;

    @supports not (aspect-ratio: 1) {
      height: 432px;
    }

    @media (min-width: 768px) {
      top: -290px;
      left: 55%;
      width: 632px;

      @supports not (aspect-ratio: 1) {
        height: 632px;
      }
    }
  }

  &::after {
    position: absolute;
    top: 160px;
    left: 40%;
    width: 388px;
    background: radial-gradient(50% 50% at 50% 50%, rgb(203 96 216) 0%, rgb(203 96 216 / 0%) 100%);
    opacity: 0.3;
    content: "";
    aspect-ratio: 1;

    @media (min-width: 768px) {
      top: 100px;
      left: 80%;
      width: 568px;
    }
  }
}

.title {
  text-align: center;

  @media (min-width: 768px) {
    text-align: start;
  }

  h2 {
    margin-bottom: 24px;
    color: rgb(255 255 255);
    font-weight: 500;
    font-size: calc-clamp(2.875rem, 5rem);
    line-height: 0.95;
    letter-spacing: -0.02em;

    @media (min-width: 768px) {
      max-width: 560px;
      font-weight: normal;
      line-height: 1;
      letter-spacing: 0;
    }
  }

  p {
    width: 100%;
    color: rgb(128 128 128);
    font-size: calc-clamp(1.125rem, 1.5rem);
    line-height: 1.3;
    letter-spacing: 0;

    @media (min-width: 768px) {
      max-width: 550px;
      letter-spacing: normal;
    }
  }
}

.button {
  button {
    position: relative;
    z-index: 10;
    margin-bottom: calc-clamp(5rem, 6.25rem);
    padding: 12px 30px;
    color: rgb(0 0 0);
    font-weight: normal;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0;
    text-align: center;
    background: rgb(255 255 255);
    border-radius: 100px;

    @media (min-width: 768px) {
      padding: 15px 34px;
    }
  }
}

.image {
  align-self: center;

  img {
    position: relative;
    z-index: 2;
    max-height: 68px;

    @media (min-width: 768px) {
      width: 275px;
      max-height: 80px;
    }
  }
}

.index {
  position: absolute;
  top: -39px;
  left: -23px;
  display: inline-block;
  width: 100px;
  color: rgb(240 240 240 / 14%);
  font-weight: 700;
  font-size: 150px;
  line-height: 1.2;
  text-align: center;
}

.feature {
  position: relative;
  box-sizing: border-box;
  min-height: 320px;
  padding: 2rem;
  overflow: hidden;
  font-weight: normal;
  line-height: 1.2;

  svg {
    margin: 0 0 32px auto;
  }

  h4 {
    margin: 16px 0;
    color: rgb(255 255 255);
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0;
  }

  p {
    color: rgb(128 128 128);
    font-size: 18px;
    letter-spacing: 0;
  }
}

.list {
  max-width: 100%;
  overflow: auto hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    margin-left: max(0px, calc(50% - 620px - 1rem));
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 296px);
    gap: 1rem;
    width: fit-content;
    max-width: 1240px;
    margin: 0 1rem;
    padding: 0;

    @media (min-width: 768px) {
      justify-content: space-between;
      width: 100%;
    }
  }

  li {
    background: rgb(255 255 255 / 14%);
    border-radius: 32px;
    backdrop-filter: blur(50px);
  }
}
