.solutions {
  display: flex;
  position: relative;
  height: 735px;
  // margin-bottom: 200px;

  &-height {
    height: 100%;
  }

  &-img {
    max-width: 700px;

    &--left {
      position: absolute;
      left: 0;
    }

    &--right {
      top: 5%;
      right: 0;
      max-width: 880px;
      height: 100%;
      max-height: 656px;
      position: absolute;
    }

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &-content {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 583px;
    height: 100%;

    &--secondary {
      margin-left: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-offset {
    margin-left: auto;
  }

  &-title {
    font-size: 95px;
    font-weight: 600;
    line-height: 95%;
  }

  &-subtitle {
    color: #A6AAAD;
    font-size: 30px;
    font-weight: 300;
    line-height: 120%;
    margin: 24px 0 50px;
    max-width: 583px;
  }

  &-btns {
    display: flex;
  }

  &-buy {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 16px 30px;
    background: #090e13;
    border-radius: 16px;
    margin-right: 15px;
  }

  &-more {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #090e13;
    padding: 16px 30px;
    background: #ecedee;
    border-radius: 16px;
    margin-right: 16px;
  }
}
