@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

.hero {
  position: relative;
  min-height: 690px;
  max-width: 100vh;
  overflow: hidden;
  width: 100%;
  color: #000;
  box-sizing: border-box;
  background: linear-gradient(89.93deg, rgba(#A378FF, 0.7) 0.39%, rgba(#FFB876,0.7) 100.27%);
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(180deg, rgba(248, 249, 249, 0) 0%, #F8F9F9 60.77%), rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(81px);
    left: 0;
    z-index: 2;
  }

  @media (min-width: 768px) {
    min-width: 100%;
  }
}

.grid {
  display: flex;
  position: relative;
  z-index: 2;
  margin-top: 47px;
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    margin-left: max(1rem, calc(50% - 620px));
    max-width: 1240px;
    justify-content: space-between;
    align-items: start;
    margin-top: 60px;
    flex-direction: row;
  }
}

.title {
  box-sizing: border-box;
  padding-top: 35px;
  text-align: center;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 160px;
    text-align: start;
    flex: 0 1 500px;
  }

  &.long {
    @media (min-width: 768px) {
      flex-basis: 590px;
    }
  }

  h1 {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 46px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #090E13;
    width: 100%;
    padding-inline: 35px;
    white-space: pre-line;

    @media (min-width: 768px) {
      font-weight: 500;
      font-size: 80px;
      line-height: 0.9;
      color: #000000;
      letter-spacing: 0;
      padding-inline: 0;
    }
  }

  p {
    font-weight: 400;
    font-size: 18px;

    line-height: 1.3;
    color: #686868;
    padding-inline: 35px;
    width: 100%;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      padding-inline: 0;
      font-size: 24px;
    }
  }

  button {
    margin-bottom: 60px;

    @media (min-width: 768px) {
      margin-bottom: 100px;
    }
  }
}

.phone {
  align-self: center;
  padding-top: 43px;
  min-height: 293px;

  @media (min-width: 768px) {
    padding-top: 88px;
    padding-bottom: 131px;
    align-self: start;
    flex: 0 1 520px;
  }
}
.youtube {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  z-index: 5;
}

.video {
  max-height: 987px;
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 4;
  min-height: 275px;
  top: 32px;
  bottom: 40px;

  @media (min-width: 768px) {
    background-size: 1771px 987px;
    background-position: center;
  }
}

.player {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 1680px;
}


.play {
  position: absolute;
  z-index: 5;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  transition: .5s;

  @media (min-width: 768px) {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  img {
    width: 64px;
    height: 64px;

    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

.frame {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 1680px;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 64px;

  &::before {
    content: "";
    position: absolute;
    min-height: calc(100% + 64px);
    min-width: 100vw;
    background-size: contain;
    background-position: center, center;
    background-repeat: no-repeat no-repeat;
    background-image: linear-gradient(180deg, #F8F7F8 5.72%, rgba(255, 255, 255, 0) 49.09%, rgba(250, 251, 251, 0.662519) 70.33%, #F8F9F9 90.68%), url('/img/hero/video-cover-mobile@1x.jpg');


    @include retina {
      background-image: linear-gradient(180deg, #F8F7F8 5.72%, rgba(255, 255, 255, 0) 49.09%, rgba(250, 251, 251, 0.662519) 70.33%, #F8F9F9 90.68%), url('/img/hero/video-cover-mobile@2x.jpg');
    }

    @media (min-width: 768px) {
      left: calc(50% - 50vw);
      max-height: 987px;
      background-image: linear-gradient(180deg, #F8F7F8 5.72%, rgba(255, 255, 255, 0) 49.09%, rgba(250, 251, 251, 0.662519) 70.33%, #F8F9F9 90.68%), url('/img/hero/video-cover@1x.jpg');
      @include retina {
        background-image: linear-gradient(180deg, #F8F7F8 5.72%, rgba(255, 255, 255, 0) 49.09%, rgba(250, 251, 251, 0.662519) 70.33%, #F8F9F9 90.68%), url('/img/hero/video-cover@2x.jpg');
      }
    }
  }

  &:hover {
    .play {
      transform: scale(1.14);
    }
  }
}

