@use "../../../styles/function" as *;
@use "../../../styles/mixins";

$black: rgb(9 14 19);
$white: rgb(255 255 255);
$gray: rgb(236 237 237);

.faq {
  margin-inline: 16px;
  margin-block: calc-clamp(5rem, 12.5rem);

  @media (min-width: 768px) {
    width: calc(100% - 32px);
    max-width: 1100px;
    margin-inline: auto;
  }
}

.title {
  margin-bottom: 60px;
  color: rgb(9 14 19);
  font-size: calc-clamp(2.875rem, 5rem);
  line-height: 0.95;
  letter-spacing: -0.02em;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 100px;
    font-weight: 500;
  }
}

.button {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
    display: block;
    width: 16px;
    height: 2px;
    background-color: rgb(0 0 0);
    content: "";

    @include mixins.motion {
      transition: 0.25s;
    }

    @media (min-width: 768px) {
      left: calc(50% - 12px);
      width: 24px;
    }
  }

  &::before {
    transform: rotate(90deg);
  }

  @media (min-width: 768px) {
    width: 46px;
    height: 46px;
  }

  @include mixins.motion {
    transition: all 0.3s ease;
  }

  .active & {
    background: rgb(233 233 233);

    &::before {
      background-color: rgb(233 233 233);

      @include mixins.motion {
        transition: 0.25s;
      }
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  border-bottom: 1px solid rgb(233 233 233);
  cursor: pointer;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  font-weight: 500;
  font-size: calc-clamp(1.125rem, 1.875rem);
  line-height: 26px;
  border-radius: 24px;

  @include mixins.motion {
    transition: all 0.1s ease;
  }

  @media (min-width: 768px) {
    padding-top: 40px;
    color: rgb(0 0 0);
    letter-spacing: -0.02em;
  }
}

.body {
  max-height: 0;
  margin-bottom: 18px;
  overflow: hidden;
  color: rgb(0 0 0);
  font-size: calc-clamp(0.9375rem, 1.25rem);
  line-height: 1.4;
  letter-spacing: -0.02em;

  @include mixins.motion {
    transition: all 0.3s ease;
  }

  @media (min-width: 768px) {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .active & {
    margin-top: 18px;

    @media (min-width: 768px) {
      margin-top: 30px;
    }
  }
}
